PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://user:password@cluster.mongodb.net/interview_platform

CLIENT_URL=http://localhost:5173

CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLERK_WEBHOOK_SIGNING_SECRET=whsec_your_clerk_webhook_signing_secret

INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SIGNING_KEY=your_inngest_signing_key

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret

PISTON_API_URL=http://localhost:2000/api/v2
